<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div>
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

<div>
<p>
  <strong>Image:</strong>
  <%= @blog.image %>
  <p><%= image_tag(@blog.image.url) if @blog.image.url %></p>
  <%= form.file_field :image, id: :feed_image %>
</p>
</div>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, size: "75"%>
  </div>
  
  <div>
    <%= form.label :content %>
    <%= form.text_area :content, size: "77x5" %>
  </div>
  <br>
  <%= form.submit'投稿する',class:'btn btn-primary btn-block' %>
  <br>

<% end %>

<%= link_to "一覧画面にもどる", blogs_path,class:'btn btn-primary btn-block' %>

</div>
</div>