<div class='container'>
  <div class="wrappaer col-md-8 col-md-offset-2 col-sm-10">
    <h1 class="sign">Sign up</h1>
    <br>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @user, local: true) do |f| %>
    
    
    <p><%= f.file_field :icon, id: :feed_icon %></p>
    <p><%= f.hidden_field :icon_cache %><br></p>
    
    <h4 class='center'>name:<br><%= f.text_field :name %></h4><br>
    <h4 class='center'>email:<br><%= f.email_field :email %></h4><br>
    <h4 class='center'>password:<br><%= f.password_field :password %></h4><br>
    <h4 class='center'>password_confirmation:<br><%= f.password_field :password_confirmation %></h4><br
    <br>
    <h4 class='center'><%= f.submit "Create my account" %></h4>
    <% end %>
  </div>
</div>
